{% extends 'base.html.twig' %}

{% block title %}FUSE--{% endblock %}

{% block body %}
<div class="container mt-4">
    {# mt = marge in top = décalage par rapport à la nav bar #}
    <div class="row">
        <div class="col-md-8">
            {# ca sera pour les images #}

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-auto">Enfants</div>
                {% for ress in ressources %}
                    {% if ress.parent == ressource %}
                        <div class="col-auto">
                            <a href="{{ path('ressource.show', {id: ress.id, slug: ressource.slug}) }}">
                                {{ ress.name }}
                            </a>
                        </div>


                    {% endif %}
                {% endfor %}
            </div>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-md-4">
                    {# La ca va etre utile pour les proposals ou on va lister les différents attribus #}
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Attribus 1
                            </td>
                            <td>
                                {# (dans le cas d'une proposal) {{ proposal.attr1 }} #}
                                somthing1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Attribus 2
                            </td>
                            <td>
                                {# (dans le cas d'une proposal) {{ proposal.attr1 }} #}
                                somthing2
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4"
            </div>

        </div>

        {% endblock %}
